<!-- footer -->
<section class="container">
    <div class="container footer">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="my-4">
                <p class="mb-5">Have something on your mind to tell us? That's great! Give us a call or send us an
                    email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center"><i class="fa fa-phone fa-3x mb-3 sr-contact"
                    data-aos="zoom-in" data-aos-duration="300" data-aos-once="true"></i>
                <p>(+91)-555-5555</p>
            </div>
            <div class="col-lg-4 mr-auto text-center"><i class="fa fa-envelope fa-3x mb-3 sr-contact"
                    data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true"></i>
                <p><a href="mailto:your-email@your-domain.com">rushik@covidcaredonations.co</a></p>
            </div>
        </div>
        <p class="ml-auto text-center" id="copyright">&#169; 2020. All rights reserved by CovidCare Donations.</p>
    </div>
</section>