{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logofinal1.png' %}" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li 
                    {% if '/' == request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}
                >
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li 
                {% if 'about' in request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}
                >
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    {% if user.ngos.id > 0 %}
                        <li 
                        {% if 'ngos/dashboard' in request.path %}
                                class="nav-item active mr-3"
                            {% else %}
                                class="nav-item mr-3"
                            {% endif %}
                        >
                                <a class="nav-link" href="{% url 'ngodashboard' %}">
                                Welcome {{ user.username }} (Dashboard)</a>
                        </li>
                        <li
                        {% if 'ngos/requirements' in request.path %}
                                class="nav-item active mr-3"
                            {% else %}
                                class="nav-item mr-3"
                            {% endif %}
                        >
                                <a class="nav-link" href="{% url 'ngorequirements' %}">
                                Requirements</a>
                        </li>
                        
                    {% else %}
                        {% if user.users.id > 0 %}
                            <li 
                            {% if 'users/dashboard' in request.path %}
                                    class="nav-item active mr-3"
                                {% else %}
                                    class="nav-item mr-3"
                                {% endif %}
                            >
                                    <a class="nav-link" href="{% url 'userdashboard' %}">
                                    Welcome {{ user.username }} (Dashboard)</a>
                            </li>
                            <li
                            {% if 'users/donations' in request.path %}
                                    class="nav-item active mr-3"
                                {% else %}
                                    class="nav-item mr-3"
                                {% endif %}
                            >
                                    <a class="nav-link" href="{% url 'userdonations' %}">
                                    Donations</a>
                            </li>   
                        {% endif %}
                    {% endif %}
                    <li class="nav-item mr-3">
                        <a href="javascript:{document.getElementById('logout').submit()}"
                        class="nav-link">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">   
                        </form>
                    </li>
                {% else %}    
                    <li 
                    {% if 'users' in request.path %}
                            class="nav-item active mr-3"
                        {% else %}
                            class="nav-item mr-3"
                        {% endif %}
                    >
                            <a class="nav-link" href="{% url 'userlogin' %}">
                            <i class="fas fa-user-plus"></i> User Sign In</a>
                    </li>
                    <li 
                    {% if 'ngos' in request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}
                    >
                        <a class="nav-link" href="{% url 'ngologin' %}">
                            <i class="fas fa-sign-in-alt"></i>

                            NGO Sign In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>