{% extends 'base.html' %} {% block content %}
<section class="container">
    <div class="about1">
        <div class="row">
            <h1 class="col-lg-12">Our Motivation</h1>
            <p>
            <blockquote>The current pandemic has caused an acute shortage of medicines, ventilators, beds, and other
                medical equipment throughout the nation. There are NGOs trying to procure these essentials for the poor
                and middle class who do not have the means to purchase these things.
                Although most of the capable people from India as well as abroad have donated lakhs and crores of money
                to large number of funds and NGOs in India, the problem occurs when this money is not entirely used for
                the health and welfare of the people of India.
                Money, being the middle agent between common people and their requirements of medical equipment, should
                be eliminated.
            </blockquote>
            </p>
            <br><br><br><br><br><br>
        </div>
</section>


<section class="container">
    <div class="about2">
        <div class="row">
            <h1 class="col-lg-12">What Do We Offer?</h1>
            <p>
            <blockquote>The solution we have created is to provide a platform where any NGO can Sign Up and create the
                requirements for the medical equipment required to serve the people in need. Other users visiting the
                website can view these requirements and choose to donate to them any equipment they are willing to
                donate. The NGOs will check online the details and condition of these equipment and will contact the
                donor for the delivery or shipping of the medical equipment. <br>
                As there is no amount of money involved, we are almost making sure that the needful directly get help to
                fight COVID-19 from the providers. We try our best to authenticate the NGO so that there is no fraud and
                only the NGO to which the person has donated has the sole discretion to validate the donations made by
                the user.
                For each donation accepted and successfully made, the user will be informed about their kind
                contribution to save human lives.

            </blockquote>
            </p>
            <br><br><br><br><br><br>
        </div>
</section>
{% endblock %}