{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Current Donations -->
<section class="container">
  <!-- <div class="container"> -->
      <div class="row showcase-donations">
          <div class="col-lg-12 text-center">
              <br>
              <h2 class="mb-4 mx-auto text-center">Current Donations</h2>
              <hr class="my-4">
          </div>
      </div>
  <!-- </div> -->
  <div class="container showcase-donations">
      <div class="row">
          <div class="col-md-6 col-lg-3 text-center">
              <div class="card" id="donation-card">
                  <div class="card-body"><img id="donation-pic" src="assets/img/equipments/handsanitizer.JPG">
                      <h4 class="card-title product-title">Hand Sanitizer</h4><hr>
                      <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-eye"></i> View Details</button>
                      <button class="btn btn-primary" id="btn-accept" type="button"><i class="fa fa-check"></i> Accept Donation</button></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 text-center">
              <div class="card" id="donation-card">
                  <div class="card-body"><img id="donation-pic" src="assets/img/equipments/surgicalmask.jpg">
                      <h4 class="card-title product-title">Surgical Mask</h4><hr>
                      <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-eye"></i> View Details</button>
                      <button class="btn btn-primary" id="btn-accept" type="button"><i class="fa fa-check"></i> Accept Donation</button></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 text-center">
              <div class="card" id="donation-card">
                  <div class="card-body"><img id="donation-pic" src="assets/img/equipments/plasticfaceshield.jpg">
                      <h4 class="card-title product-title">Plastic Face Shield</h4><hr>
                      <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-eye"></i> View Details</button>
                      <button class="btn btn-primary" id="btn-accept" type="button"><i class="fa fa-check"></i> Accept Donation</button></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 text-center">
              <div class="card" id="donation-card">
                  <div class="card-body"><img id="donation-pic" src="assets/img/equipments/n95mask.jpg">
                      <h4 class="card-title product-title">N95 Mask</h4><hr>
                      <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-eye"></i> View Details</button>
                      <button class="btn btn-primary" id="btn-accept" type="button"><i class="fa fa-check"></i> Accept Donation</button></div>
              </div>
          </div>
      </div>
  </div>
</section>

<br>

<!-- Donation History -->
<section class="container">
      <div class="row donation-history">
          <div class="col-lg-12 text-center">
              <br><hr class="my-4"><hr class="my-4">
              <h2 class="mb-4 mx-auto text-center">Donation History</h2>
              <hr class="my-4">
          </div>
      </div>
  <div class="container showcase-donations">
      <div class="row">
          <div class="col-md-6 col-lg-3 text-center">
              <div class="card" id="donation-history-card">
                  <div class="card-body"><img id="donation-pic" src="assets/img/equipments/handsanitizer.JPG">
                      <h4 class="card-title product-title">Hand Sanitizer</h4><hr>
                      <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-eye"></i> View Details</button>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 text-center">
              <div class="card" id="donation-card">
                  <div class="card-body"><img id="donation-pic" src="assets/img/equipments/surgicalmask.jpg">
                      <h4 class="card-title product-title">Surgical Mask</h4><hr>
                      <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-eye"></i> View Details</button>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 text-center">
              <div class="card" id="donation-card">
                  <div class="card-body"><img id="donation-pic" src="assets/img/equipments/plasticfaceshield.jpg">
                      <h4 class="card-title product-title">Plastic Face Shield</h4><hr>
                      <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-eye"></i> View Details</button>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 text-center">
              <div class="card" id="donation-card">
                  <div class="card-body"><img id="donation-pic" src="assets/img/equipments/n95mask.jpg">
                      <h4 class="card-title product-title">N95 Mask</h4><hr>
                      <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-eye"></i> View Details</button>
                  </div>
              </div>
          </div>
      </div>
      <hr class="my-4">
  </div>
</section>

{% endblock %}