{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Current Requirements -->
<section class="container">
  <div class="row showcase-ngo-requirements">
    <div class="col-lg-12 text-center">
      <br>
      <h2 class="mb-4 mx-auto text-center">Current Requirements</h2>
      <hr class="my-4">
    </div>
  </div>
  <!-- Trigger/Open The Modal -->
  <div class="row showcase-ngo-requirements">
    <div class="col-lg-12 text-center">
      <button class="btn btn-secondary btn-block" id="add-requirement-btn">Add Requirement</button>
    </div>
  </div>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}
  <br>
  <div class="container showcase-ngo-requirements">
    <div class="row">
      {% if requirements %}
        {% for requirement in requirements %}
          <div class="col-md-6 col-lg-3 text-center">
            <div class="card" id="ngo-requirement-card">
              <div class="card-body">
                {% if requirement.photo %}
                <img id="donation-pic" src="{{ requirement.photo.url }}">
                {% else %}
                <img id="donation-pic" src="{% static 'img/equipments/equipment.jpg' %}">
                {% endif %}
                <h4 class="card-title product-title">{{ requirement.name }}</h4>
                <hr>
                <button class="btn btn-primary" id="btn-accept" type="button"><i class="fa fa-edit"></i> Edit
                  Details</button>
                <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-trash" ></i> <a href="{% url 'removerequirements' requirement.id %}">RemoveRequirement</a>
                </button>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <div class="col-lg-12 text-center">
        <h4>No Requirements Added</h4>
      </div>
      {% endif %}
      <!-- <div class="col-md-6 col-lg-3 text-center">
        <div class="card" id="ngo-requirement-card">
          <div class="card-body"><img id="donation-pic" src="assets/img/equipments/surgicalmask.jpg">
            <h4 class="card-title product-title">Surgical Mask</h4>
            <hr>
            <button class="btn btn-primary" id="btn-accept" type="button"><i class="fa fa-edit"></i> Edit
              Details</button>
            <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-trash"></i> Remove
              Requirement</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
        <div class="card" id="ngo-requirement-card">
          <div class="card-body"><img id="donation-pic" src="assets/img/equipments/plasticfaceshield.jpg">
            <h4 class="card-title product-title">Plastic Face Shield</h4>
            <hr>
            <button class="btn btn-primary" id="btn-accept" type="button"><i class="fa fa-edit"></i> Edit
              Details</button>
            <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-trash"></i> Remove
              Requirement</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
        <div class="card" id="ngo-requirement-card">
          <div class="card-body"><img id="donation-pic" src="assets/img/equipments/n95mask.jpg">
            <h4 class="card-title product-title">N95 Mask</h4>
            <hr>
            <button class="btn btn-primary" id="btn-accept" type="button"><i class="fa fa-edit"></i> Edit
              Details</button>
            <button class="btn btn-primary" id="btn-details" type="button"><i class="fa fa-trash"></i> Remove
              Requirement</button>
          </div>
        </div>
      </div> -->
    </div>
    <hr class="my-4">
  </div>
</section>

<!-- Requirement Modal -->
<div id="myModal" class="modal-requirement">

  <!-- Modal content -->
  <div class="modal-content-requirement">
    <span class="modal-close-requirement">&times;</span>
    <div class="container bg-light">
      <div class="row bg-light">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Enter Equipment Details</h4>
            </div>
            <div class="card-body">
              <form action="{% url 'ngorequirements' %}" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Add Requirement" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="{% static 'js/modal.js' %}"></script>

{% endblock %}